@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Julius+Sans+One&family=Poiret+One&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(248, 248, 248, 0.192);
  /* height: auto; */
}

.App {
  text-align: center;
}

.brandStatement {

  background-color: rgba(245, 248, 241, 0.432);
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: rgba(95, 85, 85, 0.712);

}

#contacto {
  font-size: 16px;
  line-height: 0;
  align-self: center; 
}

#fixedHeader {
  background-image: url('https://res.cloudinary.com/dok4pz3i3/image/upload/v1612214824/gywjcilcioxdaa8slnte.jpg');
  object-fit: cover;
  background-position:center;
  background-size: cover;
  border-bottom: 3px solid black;
  opacity: 0.9;
  z-index: 2;
}

#header {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right, rgb(95, 102, 98) , rgba(34, 125, 128, 0.925));
  z-index: -2;
  -webkit-backdrop-filter: grayscale();
 

}


#contactBox{
  display: flex;
  /* background-color: lavender; */
  justify-content: space-between;
}

.photoButtons{
  /* background-color: blue; */
  padding-top: 50px;
  flex:33%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  
}

.gittohabbu {
  height:40px;
  margin:auto;
  /* background-color: brown; */
  vertical-align:baseline;
}

#pic {
  height:150px;
  border-radius: 100%;
  border: solid 5px rgba(255, 255, 255, 0.205);
  margin-top:auto;
  /* opacity: 0.8; */
  background-color: rgba(224, 225, 226, 0.281);
 
}

#midHeader{
  flex: 50%;
  padding: auto;
  border-bottom: solid 2px rgba(0, 0, 0, 0.452);
}

#res{
 
 
  background-color: rgba(253, 253, 253, 0.767);
  border: 2px solid rgba(128, 128, 128, 0.555);
  border-radius: 10px;
  font-weight: 900;
}

#languages {
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, rgba(99, 110, 91, 0.151) , rgba(40, 90, 70, 0.527));
  color: rgba(4, 37, 26, 0.76);
  padding: 10px;
  font-weight: 900;
}

#photoBox {
  display: flex;
  justify-content: space-between;
}

#links {
  font-family: 'Montserrat', sans-serif;
  flex: 100%;
  display:flex;
  list-style-type: none;
  margin: auto;
  justify-content: space-evenly;
}

li {
  flex: 33%;
  margin: auto;
  list-style-type: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.linkstoapps {
  text-align: center;
  line-height: 0;
}

.video_box{
   background-color: rgba(201, 204, 204, 0.582);
   justify-content: space-around;
   max-width:800px;
   margin-top: 45px;
   margin-bottom: 25px;
   margin-right: auto;
   margin-left: auto;
   padding-top: 0;
   -webkit-margin-collapse: auto;
   border-radius: 10px;
   padding-bottom: 10px;
   border: solid 1px grey;
}

.videoParent {
  margin: auto
}

#res{
  width:90%;
  margin-top:40px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}



.game_info {
  background-color: rgba(85, 138, 138, 0.712);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;


}

.navLink{
  font-weight: 900;
  color:rgba(245, 245, 245, 0.856);
  font-size: 25px;
  margin-top: 0;
  padding-top: 0;
  line-height: 38px;
  font-family: 'Montserrat', sans-serif;
  }

Link {
  color: rgba(255, 255, 255, 0.562);
}

a {
  color: rgba(29, 31, 31, 0.699);
  font-weight: 900;
  text-decoration: none;
}



ul {
  list-style-type: none;
}

#midHeader {
  /* background-color: darkgoldenrod; */
  padding: 30px 30px 10px 30px;
}

Nav{
  /* background-color: darkturquoise; */
  display: flex;
  justify-content: space-evenly;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#below {
  /* overflow-y: scroll;
  position: static; */
  max-height: 1000px;
  background-image: url('https://res.cloudinary.com/dok4pz3i3/image/upload/v1612410328/y2jcspuz6iz2pyqbslx1.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px;
  z-index: -2;
  
}

#belowWhiteOut {
  background-color: rgba(198, 212, 219, 0.932);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 0px;
  padding-right: 0px;
}

#speil {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  color: rgba(27, 27, 27, 0.932);
  font-weight: 500;
  font-family: 'Chivo', sans-serif;
}

.go{
  height: 30px;
}

#kanjiParent {
  /* min-height: 1000px; */
  display: flex;
}

.tsugi{
  margin: 50px;
  width: 150px;
  font-size: 20px;
  text-align: center;
  /* border:solid 2px black; */
 
}











