@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700;900&display=swap');

#kanji {
    max-width: 150px;
    height: 150px;
    font-size: 80px;
    text-align: center;
    max-height: 1200px;
    font-weight: 700;
    color: rgb(253, 253, 253);
    background-color: rgba(0, 0, 0, 0.568);
    border: solid 2px black;
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: auto;
}

#searchBar {
    margin: auto;
    width:300px;
    text-align: center;
}

#inputKanji{
    margin: auto;
}

#choice{
    text-align: center;
}

#english{
    padding-top:10px;
    max-width: 150px;
    height: 150px;
    font-size: 18px;
    text-align: center;
    max-height: 1200px;
    font-weight: 700;
    color: rgb(253, 253, 253);
    border: solid 2px black;
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.568);
}

#fakeinput {
    min-height: 30px;
}

#intro{
    text-align: center;
    width:50%;
    margin: auto;
    font-size: 16px;
    margin-bottom: 20px;
}



#comment{
    padding:3px;
    height: 35px;
    width: 35px;
}

#kanjiApp{
    border: solid 3px black;
    width:500px;
    margin:auto;
    border-radius: 20px;
    background-color: rgba(255, 228, 196, 0.212);
    padding-top: 20px;
}