@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Julius+Sans+One&family=Poiret+One&display=swap');

#kanji {
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: 700;
    color: rgb(253, 253, 253);
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 8px;
    margin-right: 8px;

  
}

#reading {
    width: 150px;
    height: 150px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 10px;
    margin-right: 8px;
}

#searchBar {
    margin: auto;
    width:300px;
    text-align: center;
}

#inputKanji{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    outline: rgba(0, 0, 0, 0) !important;
    width: 200px;
    height: 30px;
    background-color: rgba(36, 34, 34, 0) !important;
    color: white;
    font-weight: 900px;
    font-size: 20px;
}

#choice{
    text-align: center;
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}  

#english{
    height: 150px;
    font-size: 18px;
    text-align: center;
    align-self: baseline;
    width: 150px;
    height: 150px;
    font-weight: 700;
    color: rgb(253, 253, 253);
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 8px;
    
}

#fakeinput {
    min-height: 80px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

#intro{
    text-align: center;
    width:50%;
    margin: auto;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top:20px;
    font-family: 'Montserrat', sans-serif;
}



#comment{
    padding:3px;
    height: 30px;
    width: 30px;
}

#kanjiApp{
    border: solid 1px black;
    width:350px;
    height: 400px;
    margin:auto;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgba(14, 13, 13, 0.932) , rgba(82, 81, 81, 0.801));
    padding-top: 20px;
    padding-bottom: 0px;
}

.upperBody{
    display: flex;
    justify-content: space-between; 
    margin: 0px;
    padding:0px;
}

#lowerBody{
    height: 200px;
    margin-bottom: 0px;
    padding:0px;
}

#searchButton{
    width: 120px;
    background-color: rgba(78, 78, 78, 0.404);
    border-radius: 10px;
    outline:rgba(0, 0, 0, 0);
}

select option {
    background-color: transparent; 
}