@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Julius+Sans+One&family=Poiret+One&display=swap');

#res {
    padding-top: 20px;
    max-width: 600px;
    font-family: 'Chivo', sans-serif;
    color: rgba(2, 2, 2, 0.685);
}

h4 {
    font-weight: bold;
}